#number-measurements-nd {
  font-size: 40px;
  margin-right: 35px;
  float: right;
  color: #fff;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#charts {
  position: fixed;
  width: 400px;
  background-color: #404040;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

#provider-row-chart, #bundesland-row-chart {
  border-bottom: 1px;
  margin-bottom: 15px;
  border-bottom-color: rgba(255,255,255,.1);
  border-bottom-style: solid;
}

#nav-toggle {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    padding-left: 20px;
    width: 10px;
    height: 10px;
}

.map-wrapper, .map-wrapper.toggle {
  position: relative;
  height: 100%;
  width: auto;
  margin-left: 400px;
  transition: all 1s;
}

.map-wrapper.toggle{
    margin-left: 0px;
}

html, body {
  height: 100%;
}

h5 {
  color: rgba(255,255,255,.5);
  padding-left: 20px;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:25%;
  text-align:center;
  font-size:9px;
  color:#808080;
}

.dc-chart g.axis text {
  fill: #fff;
}

.dc-chart rect.deselected {
  fill: #A8A8A8;
}

.dc-chart g.row rect {
  fill-opacity: 1;
}

.axis line, .dc-chart .axis path {
  stroke: #787878;
}
